*.o
\#*#
*#
.#*
.*~
*~
.zshrc
.DS_Store
*.sw[po]
tags
TAGS
Session.vim
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
.zshrc.local
samples
.Xauthority
.zsh_history
.vim/bundle/
.vim/dein/
.vim/.netrwhist
.vimrc_sample
.rsync_cache
.vscode
.fehbg
.wget-hsts
p10k.zsh